 
h2 {
    color: beige;
    background-color: brown;
    }
body {
    background-color: cadetblue;
    }
    /*pristup preko ID-a*/
    #prvi {
        color: blue;
    }
   /*pristup preko klase*/
    .drugi {
        color: brown;
    }
    