h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

p, ul, li {
    font-family: 'Open Sans', sans-serif;
}


h1 {
    font-size: 3rem;
    font-weight: 600;
}

#main-title {
    font-size: 4rem; 
}

h2 {
    color: #4CAF50;
}


ul {
    background-color: #ECEFF1;
   padding: 20px;
    border-radius: 10px;
}
.highlight {
    font-size: 16px ;
    color: #37474f; 
   
}

.italic-text {
    font-size: 18px; 
    color: #546e7a;
}

#third-paragraph {
    font-size: 20px; 
    color: #78909C;
}




.poglavlje1 {
    list-style-type: square;
}

.poglavlje2{
    list-style-type: circle;
}

.poglavlje3 {
    list-style-type: disc;
}

.poglavlje4{
    list-style-type: square;
}


.highlight {
    color: #FFC107 !important; 
}